.form-container{
    font-size: 40px;
    border-radius: 3px;
    margin: 40px auto;
    padding: 30px;
    width: 60%;

    .form-input{
         width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    }

    .form{
        font-size: 20px;
    }

}