.App {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.stepper-container-horizontal{

  border: 1px solid lightsalmon;
  border-radius: 3px;
  margin: 40px auto;
  padding: 30px;
  width: 60%;

}
.buttons-container{
  margin-left: 50%;
}
